* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(27, 21, 30);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  left: -50%;
  top: -90%;
  z-index: -1;
  background: url("https://assets.cntraveller.in/photos/62988ba974e2baa4e2fc008d/master/pass/new%20restaurants%20in%20Mumbai%20lead.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(-5deg);
}
